@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --uniColor: #000;
    --background: #f7f7f7;
    --wrapper: #fff;
    --borderBottom: #e6e6e6;
    --errorColor: #721c24;
    --errorBgColor: #f8d7da;
    --errorBorderColor: #f5c6cb;
    --inputBorder: #ccc;
    --imgInput: #cccccc;
    --imgtxtInput: #000;
    --imgBgColor: #e5e5e5; 
    --buttonBgColor: rgb(30, 255, 0);
    --buttontxtColor: #000;
    --inputBgColor: #fff;
    --logoutBgColor: #333;
    --logouttxtColor: #fff;
    --userListP: #67676a;
    --chatBgColor: #ffdde6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background);
}
.wrapper{
    color: f7f7f7;
    background: var(--wrapper);
    width: 450px;
    border-radius: 16px;
    box-shadow: 0px 0px 128px 0px rgba(68, 0, 255, 0.3),
                0px 0px 64px -48px rgba(68, 0, 255, 0.5);
}

/*Signup form CSS*/
.form{
    padding: 25px 30px;
}
.form header{
    display: flex;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--borderBottom);
    color: var(--uniColor);
    position: relative;
    align-items: center;
}

.form header a{
    margin-left: 110px;
    color: var(--logouttxtColor);
    font-size: 17px;
    padding: 5px 5px;
    background: var(--logoutBgColor);
    border-radius: 20px;
}
.form form{
    margin: 20px 0;
}
.form form .error-txt{
    color: var(--errorColor);
    background: var(--errorBgColor);
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--errorBorderColor);
    display: none;
}
.form form .name-details{
    display: flex;
    color: var(--uniColor)
}
form .name-details .field:first-child{
    margin-right: 10px;
}
form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--uniColor)
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .field input{
    outline: none;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid var(--inputBorder);
    border-radius: 5px;
    background: var(--inputBgColor);
    color: var(--uniColor);
}
.form form .image input{
    font-size: 17px;
    background: var(--imgInput);
    border-radius: 50px;
    width: 60%;
    outline: none;
}
::-webkit-file-upload-button{
    color: var(--imgtxtInput);
    background: var(--imgBgColor);
    padding: 1px;
    border: 2px solid var(--inputBorder);
    border-radius: 50px;
}
::-webkit-file-upload-button:hover{
    background: var(--buttonBgColor);
    cursor: pointer;
    color: var(--buttontxtColor);
}
.form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    background: var(--buttonBgColor);
    color: var(--buttontxtColor);
    border-radius: 10px;
    cursor: pointer;
}
.form form .field i{
    position: absolute;
    right: 15px;
    color: var(--inputBorder);
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before{
    color: var(--logoutBgColor);
    content: "\f070";
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    color: var(--uniColor)
}
.form .link a{
    color: var(--uniColor);
}
.form .link a:hover{
    text-decoration: underline;
    color: rgb(76, 0, 255);
}

/* Users css*/
.users header .dimg{
    color: var(--logouttxtColor);
    font-size: 17px;
    padding: 5px 5px;
    background: var(--logoutBgColor);
    border-radius: 20px;
}
.users{
    padding: 25px 30px;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--borderBottom);
    
}
.users header a{
    margin-left: 10px;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 50px;
    width: 50px;
}
:is(.users, .users-list) .details{
    margin-left: 15px;
    color: var(--uniColor)
}
:is(.users, .users-list) .details span{
    font-size: 22px;
    font-weight: 500;
}
.users header .logout{
    color: var(--logouttxtColor);
    font-size: 17px;
    padding: 7px 15px;
    background: var(--logoutBgColor);
    border-radius: 5px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
    color: var(--uniColor);
}
.users .search input{
    color: var(--uniColor);
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 3px solid var(--borderBottom);
    padding: 0 13px;
    font-size: 16px;
    background: var(--inputBgColor);
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s easy;
}
.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}
.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--uniColor);
    background: var(--wrapper);
}
.users .search button.active i::before{
    content: "\f00d";
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0px;
}
.users-list a{
    margin-bottom: 10px;
    padding-right: 15px;
    border-bottom-color: var(--uniColor);
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    height: 40px;
    width: 40px;
}
.users-list a .content p{
    color: var(--userListP);
}
.users-list a .status-dot{
    font-size: 12px;
    color: rgb(29, 248, 0);
}
/* This class will be used in PHP for offline status*/
.users-list a .status-dot.offline{
    color: var(--inputBorder);
}
/* Chat Area css*/
.chat-area header .dimg{
    margin-left: 120px;
    color: var(--logouttxtColor);
    font-size: 17px;
    padding: 5px 5px;
    background: var(--logoutBgColor);
    border-radius: 20px;
    
}

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    color: var(--uniColor)
}
.chat-area header .back-icon{
    font-size: 18px;
    color: var(--uniColor);
}
.chat-area header .pimg{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-area header span{
    font-size: 22px;
    font-weight: 500;
}
.chat-box{
    height: 500px;
    overflow-y: auto;
    background: var(--chatBgColor);
    padding: 10px 30px 20px 30px;
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0px 0px 128px 0px rgba(68, 0, 255, 0.3),
                0px 0px 64px -48px rgba(68, 0, 255, 0.5);
}
.chat-box .outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: var(--logoutBgColor);
    color: var(--logouttxtColor);
    border-radius: 20px 20px 0 20px;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img{
    height: 35px;
    width: 35px;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    background: var(--wrapper);
    color: var(--logoutBgColor);
    border-radius: 20px 20px 20px 0px;
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    color: var(--uniColor);
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 3px solid var(--inputBorder);
    padding: 0 13px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    background: var(--inputBgColor);
}
.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: var(--wrapper);
    color: var(--uniColor);
    font-size: 25px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}